In [1]:
Name = ['Naza', 'Gummie', 'Marshie', 'Ella', 'Praise']
Age = (21,24,21,23,21)
Height = [1.2,3.4,5.9,4.5,6.0]

In [4]:
tab = {'Name': Name, 'Age': Age, 'Height': Height}

In [5]:
tab

{'Name': ['Naza', 'Gummie', 'Marshie', 'Ella', 'Praise'],
 'Age': (21, 24, 21, 23, 21),
 'Height': [1.2, 3.4, 5.9, 4.5, 6.0]}

In [10]:
tab['Name']

['Naza', 'Gummie', 'Marshie', 'Ella', 'Praise']

In [11]:
import pandas as pd

In [13]:
table = pd.DataFrame(tab)

In [14]:
table

      Name  Age  Height
0     Naza   21     1.2
1   Gummie   24     3.4
2  Marshie   21     5.9
3     Ella   23     4.5
4   Praise   21     6.0

In [15]:
def add(a,b):
    return a+b

In [16]:
add(4,5)

9

In [26]:
def classwork(a,b,c):
    return (a+b)-c

In [27]:
classwork(5,4,2)

7

In [28]:
#docstring
def add(a,b,c):
    '''
    This function adds two numbersd: e.g add(3,2), the answer is 5.
     '''
    return (a+b)-c

In [29]:
add?

In [30]:
#maths
import math

In [31]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [32]:
math.pi

3.141592653589793

In [33]:
math.sqrt(25)

5.0

In [37]:
def perimeter(R):
    return (2*math.pi*R)

In [38]:
perimeter(50)

314.1592653589793

6

In [49]:
def maximum(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    elif z>x and z>y:
            return z
    else:
          return  'They are all equal'

In [50]:
maximum(5,5,5)

'They are all equal'

In [66]:
#function that sums any number

In [68]:
def mul(x):
    total = 1
    for i in x:
        total = total * i
    return total

In [69]:
mul([2,3,4,5])

120